@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0022;
    background-repeat: no-repeat;
    color: #f1e9fe;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f9f5ff;
}

::-webkit-scrollbar-thumb {
    background: #8739e4;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8739e4;
}

.active {
    color: #8739e4;
}

.H-container {
    h1 {
        font-size: clamp(1.25rem, 10vw, 3.75rem);
    }

    p {
        font-size: clamp(.75rem, 4vw, 1.25rem);

    }
}

.job-container {
    >button:last-child {
        font-size: clamp(9px, 2vw, 18px);
    }

    h2 {
        font-size: clamp(0.875rem, 8vw, 2.25rem);
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
    }
}

.J-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(134px, 1fr));

    .company-details {
        p:nth-child(1) {
            font-size: clamp(9px, 2vw, 18px);
        }

        p:nth-child(2) {
            font-size: clamp(6px, 2vw, 12px);
        }
    }

    .job-description {
        h3:nth-child(1) {
            font-size: clamp(12.5px, 3vw, 25px);
        }

        p:nth-child(2) {
            font-size: clamp(7px, 3vw, 14px);
        }

        p:nth-child(3) {
            font-size: clamp(7px, 2.5vw, 12px);
        }
    }

    .apply-btn {

        button,
        p {
            font-size: clamp(9px, 2vw, 18px);
        }
    }
}

.button {
    @apply mt-4 bg-purple-heart-600 text-purple-heart-100 rounded-md hover:bg-purple-heart-700 py-2 px-4 transition duration-300 self-center;
}



@media screen and (min-width: 640px) {
    .job-container {
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
        }
    }

    .J-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
    }

    .culture {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}